.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.radar-chart-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
}

#radar-chart {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 1000ms ease;
}

.score-component {
  position: absolute;
  border: 1px solid #FFFFFF;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all 0.4s ease;
  &.cursor-hidden {
    box-shadow: 2.7005px 2.7005px 2.7005px rgba(0, 0, 0, 0.15);
  }
  &__inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #87E9FF;
  }
  &__category {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
  }
  &__score {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__project-is {
    color: #8EA4BC;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    opacity: 0.6;
  }
  &__stable {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.project-state-component {
  position: absolute;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-shadow: 2.7005px 2.7005px 2.7005px rgba(0, 0, 0, 0.15);
  transition: all 1000ms ease;
  &__project-is {
    color: #8EA4BC;
    font-size: 19px;
    line-height: 24px;
    font-weight: 600;
    opacity: 0.66;
    transition: all 1000ms ease;
  }
  &__stable {
    color: #000000;
    font-size: 31px;
    line-height: 38px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 1000ms ease;
  }
  &__inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 6px solid #87E9FF;
    transition: all 1000ms ease;
  }
  &.radar-triggered {
    .project-state-component__project-is {
      font-size: 10px;
      line-height: 12px;
    }

    .project-state-component__stable {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
